click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
gunicorn==19.5.0
itsdangerous==0.24
Jinja2==2.11.2
MarkupSafe==0.23
python-http-client==3.2.7
sendgrid==6.3.1
smtpapi==0.3.1
Werkzeug==1.0.1
WTForms==2.0.1
