<footer>
    <div class="left-bar">
        <p>Ezra Street 11, Holon</p>
        <p>Phone: 0528360503</p>
        <p>E-mail:  <a href="mailto:murlakov.eli@gmail.com">murlakov.eli@gmail.com</a></p>
        <p class="site-dev">
            @Powered by <a href="https://www.facebook.com/guy.peer.14" target="_blank">Guy Peer</a>
        </p>
    </div>
    <div class="right-bar">
        <p>רח' עזרא 11 חולון</p>
        <p>טלפון: 0528360503</p>
        <p>מייל: <a href="mailto:murlakov.eli@gmail.com">murlakov.eli@gmail.com</a></p>
        <p class="site-dev">
            @נבנה ע"י <a href="https://www.facebook.com/guy.peer.14" target="_blank">גיא פאר</a>
        </p>
    </div>
    <div class="clear"></div>
</footer>
